{
	"presets": [ "env", "react", "stage-2" ],
	"plugins": [
		[
			"import",
			{
				"libraryName": "tinper-bee",
				"libraryDirectory": "lib",
				"camel2DashComponentName": false
			}
		]
	]
}
